li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  transition: .4s;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    span {
      display: block;
    }
  }

  &:hover {
    background-color: #fff;

    a{
      color: #000 !important;
    }

  }
}

